.camlist-item a {
    background-image: url("/assets/images/test_640x.jpg");
    display: block;
}


#camblock img {
    max-width: 100%;
    display: block;
    min-height: 295px;
}

#camblock .camlist-item {
    margin-bottom: 2rem;
}