.camlist-item a {
    background-image: url("/assets/images/test_640x.jpg");
    display: block;
    background-size: 100% 100%;
    position: relative;
}

.camlist-item a span.onhover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all .5s;
}
.camlist-item a:hover span.onhover {
    height: 20px;
}

#camblock img {
    max-width: 100%;
    display: block;
    min-height: 295px;
}

#camblock .camlist-item {
    margin-bottom: 2rem;

}